

<div class="card m-b-0">
        <ul class="nav nav-tabs profile-tab" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#general" role="tab">Bitcora Personal</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="general" role="tabpanel">
                <app-listnotas></app-listnotas>
            </div>
        </div>
 </div>
 <footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Desarollo de Aplicaciones Web</h5>
          <p>Alumno: Jose Maria Leoncio Rodriguez Rocha</p>
          <p>Docente: Ing. Ivan E. Garcia Quintero</p>
          <p>Universidad Tecnologica de Xicotepec de Juarez</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            
          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
  
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
